/langchain-next-js-template-main/.env.local
/.vscode
/langchain-next-js-template-main/node_modules
/knwo-a3efe-firebase-adminsdk-ffkbn-e90985cb2b.json
knwo-a3efe-firebase-adminsdk-ffkbn-e90985cb2b.json
/langchain-nextjs-template-main/knwo-a3efe-firebase-adminsdk-ffkbn-e90985cb2b.json