@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: radial-gradient(circle, #FF8E52, #EA8C00);
  color: #122E37;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2CB3C5;
}

p {
  margin: 8px 0;
}

code {
  color: #253cd7;
}

li {
  padding: 4px;
}