@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: radial-gradient(circle, #EA8C00, #E66000);
  color: black;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2C97C5;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

